/*
MAIN COLOR PALETTE

Orange-main: #f15a22;
Orange-light-1: #fbc8b9;
Orange-light-2: #f37659;
Orange-dark-1: #d24727;

Orange-main-hovered: #b3390b;

Grey-main: #393c3e;
Grey-light-1: #ebeff0;
Grey-light-2: #a8a9aa;
Grey-dark-1: #282b2d;
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* Sets 1rem = 10px */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    color: #393c3e;
    font-weight: 300;
    line-height: 1.5;

    padding-top: 8rem;
}

h1 {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4rem;
}

h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3.5rem;
    color: #f15a22;
}

h4 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

h5 {
    font-size: 2rem;
    font-weight: 500;
}

p {
    font-size: 2.2rem;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    font-size: 2rem;
}

a {
    text-decoration: none !important;
    color: #393c3e;
    font-weight: 500;
}

b {
    font-weight: 500;
}

a:active,
a:focus {
    outline: none !important;
}

strong {
    font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    color: #393c3e;
}

a:hover,
.btn,
.btn:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a img,
iframe {
    border: none !important;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
}

select::-ms-expand {
    display: none;
}

/* ----- SIMPLE LIST ----- */
.simple-list {
    width: 114rem;
    margin: 0 auto;
}

.simple-list__item {
    display: flex;
    width: 100%;
}

.simple-list__bullet-container {
    position: relative;
    text-align: center;
    flex: 0 0 6rem;
}

.simple-list__bullet-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #cacbcc;
    transform: translate(-50%);
}

.simple-list__bullet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 1;
}

.simple-list__bullet--orange {
    background-color: #f15a22;
}

.simple-list__bullet--tint-orange {
    background-color: #fbc8b9;
}

.simple-list__bullet--light-orange {
    background-color: #f37659;
}

.simple-list__bullet--dark-orange {
    background-color: #d24727;
}

.simple-list__text {
    font-size: 1.8rem;
    padding: 1rem 0;
}

/*
MAIN COLOR PALETTE

Orange-main: #f15a22;
Orange-light-1: #fbc8b9;
Orange-light-2: #f37659;
Orange-dark-1: #d24727;

Orange-main-hovered: #b3390b;

Grey-main: #393c3e;
Grey-light-1: #ebeff0;
Grey-light-2: #a8a9aa;
Grey-dark-1: #282b2d;
*/