.container {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;

    display: grid;

    /* USING min-content AND max-content */

    /* grid-template-rows: repeat(2, 150px); */
    /* grid-template-columns: max-content 1fr 1fr min-content; */
    /* grid-template-rows: repeat(2, min-content); */

    /* USING minmax() FUNCTION */

    /* grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: minmax(200px, 50%) repeat(3, 1fr); */

    /* USING auto-fill AND auto-fit FUNCTION */

    width: 80%;

    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    grid-auto-rows: 150px;
}

.item {
    padding: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;
}

.item--1 { background-color: orangered; }
.item--2 { background-color: yellowgreen; }
.item--3 { background-color: blueviolet; }
.item--4 { background-color: palevioletred; }
.item--5 { background-color: royalblue; }
.item--6 { background-color: goldenrod; }
.item--7 { background-color: crimson; }
.item--8 { background-color: darkslategray; }