.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;

    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(3, 1fr); /* 1 fractional unit */

    /* grid-row-gap: 30px;
    grid-column-gap: 30px; */
    grid-gap: 30px;
}  

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
}

.item--1 {
    background-color: orangered;
}

.item--2 {
    background-color: yellowgreen;
    /* grid-column: 1/span 2; */
    grid-column: 2/-1; /* -1 goes to the end */
}

.item--3 {
    background-color: blueviolet;
    grid-area: 2/1/3/3;
}

.item--4 {
    background-color: palevioletred;
}

.item--5 {
    background-color: royalblue;
    grid-area: 1/3/3/4;
}

.item--6 {
    background-color: goldenrod;
    grid-area: 1/2/2/3;
}

/* --- BLOCK 1 --- */

.block {
    background-color: #eee;
    width: 60rem;
    margin: 2rem auto;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.8rem;

    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: 6rem 11rem 20rem 6rem;
    grid-template-columns: repeat(3, 1fr) 20%;

    /* METHOD - NAMING LINES */
    /*
        grid-template-rows: [header-start] 6rem [header-end box-start] 11rem [box-end main-start] 20rem [main-end footer-start] 6rem [footer-end];
        grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 20% [grid-end];
    */

    /* METHOD - NAMING GRID AREAS */

    grid-template-areas: "head head head head"
                        "box box box side"
                        "main main main side"
                        "foot foot foot foot";

    /*
        If you want an empty space, you just need to leave a dot, like "head head . head".
    */
}

.block > * {
    padding: 1.3rem;
}

.block__header {
    background-color: red;
    /* grid-area: 1/1/2/5; */

    /* METHOD - NAMING LINES */
    /*
        grid-column: col-start 1 / grind-end;
    */  

    /* METHOD - NAMING GRID AREAS */
    grid-area: head;
}

.block__small-box {
    background-color: greenyellow;
}

.block__sidebar {
    background-color: purple;
    /* grid-area: 2/4/4/5; */

    /* METHOD - NAMING LINES */
    /*
        grid-row: box-start / main-end;
        grid-column: col-end 3 / grid-end;
    */

    /* METHOD - NAMING GRID AREAS */
    grid-area: side;
}

.block__main-content {
    background-color: royalblue;
    /* grid-area: 3/1/4/4; */

    /* METHOD - NAMING GRID AREAS */
    grid-area: main;
}

.block__footer {
    background-color: grey;
    /* grid-area: 4/1/5/5; */

    /* METHOD - NAMING GRID AREAS */
    grid-area: foot;
}


/* --- BLOCK 2 --- */

.block2 {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;

    /* Explicit Grid */

    display: grid;
    /* grid-template-rows: repeat(2, 150px); */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 30px;

    /* Implicit Grid */

    grid-auto-rows: 80px;
    grid-auto-flow: row dense; /* dense means that there will be no empty holes in our grid */
    grid-auto-columns: .5fr;

    /* Align grid items to grid areas */

    /* 
    align-items: center;
    justify-items: center; 
    */

    /* Align grid tracks to grid container */
    height: 1000px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 100px);

    justify-content: center;
    align-content: center;
}

.box {
    padding: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;
}

.box--4 {
    background-color: crimson;
    grid-row: 2 /span 3;
    align-self: start;
    justify-self: start;
}

.box--6 {
    background-color: lightcoral;
    grid-row: 2 / span 2;
}

.box--7 {
    background-color: palevioletred;
    grid-column: 1 / -1;
}